#charter .tab-content{
    color: @black;
    background-color: fadeout(@white, 15%);
    padding:25px;
}
#charter .tab-content h3{
    color:@primary;

}
#charter .tab-content h3,#charter .tab-content h4, #charter .tab-content h5, #charter .tab-content p{
    margin: 10px!important;
    padding: 10px;
}
#charter .container{
    padding-top:20px!important;
    margin-top:0px!important;
}
.charter-header{
    background: url(../images/charter.jpg) no-repeat top center scroll;
    height:40%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}